<main class="w-100 d-flex flex-column  justify-content-center align-items-center align-items-center">
  <h2>Shopping list</h2>
  <div class="d-flex flex-column w-50">
    <div class="d-flex justify-content-between">
      <h3>Total items: <%= @totalItems %></h3>
      <h3>Total Price: <%= @totalPrice %></h3>
    </div>
  <table class="table table-striped m-3">
    <thead class="table-dark">
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Units</th>
      </tr>
    </thead>
    <tbody>
      <% @shopping_list.each do |rfood| %>
        <tr>
          <td><%= rfood[:food] %></td>
          <td><%= rfood[:price] %></td>
          <td><%= rfood[:quantity] %></td>
          <td><%= rfood[:units] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</main>
