<div class= "container d-flex flex-column">

<%= form_with(model: @food) do |form| %>
    <h1 class="py-5">New Food</h1>
  
  <div class="mb-3">
    <%= form.label :name, style: "display: block", class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true  %>
  </div>

  <div class="mb-3">
    <%= form.label :units, style: "display: block", class: "form-label" %>
    <%= form.text_field :units, class: "form-control", required: true  %>
  </div>

  <div class="mb-3">
    <%= form.label :price, style: "display: block", class: "form-label" %>
    <%= form.text_field :price, class: "form-control", required: true  %>
  </div>

  <div class="mb-3">
    <%= form.label :quantity, style: "display: block", class: "form-label" %>
    <%= form.text_field :quantity, class: "form-control", required: true  %>
  </div>

  <div class="mb-3">
    <%= form.submit "Save", class: "btn btn-primary btn-block" %>
  </div>
<% end %>